# Direct Connecting to Databases with Python and ODBC

In [1]:
import pyodbc
# If you have an ODBC connection on your computer this is all you need (with your specific DSN name which can be set to anything)
dsn_name = "DSN=Netezza_COPS;"
conn = pyodbc.connect(dsn_name)

In [2]:
sql_statement = 'SELECT * FROM COPS.DBAUSER.MTCN_PRODUCT_MEDALLIA LIMIT 5'

In [3]:
import pandas as pd

In [4]:
pd.read_sql_query(sql_statement,conn)

,RECORDING_DATE,RECORDING_AGENT_ID,PAYING_AGENT_ID,SENDER_BRAND,PAYER_BRAND,MTCN,PRDKEY,PRDDES,REC_COUNTRY,INTENDED_COUNTRY,...,PAYER_ORIGINAL_CITY,PAYER_ORIGINAL_NAME,ORIGINAL_NETWORK,LEGAL_ENTITY,LOG_DATE,SENDER_LOYALTY_ID,TXNKEY,PAY_DATE,PAY_AGENT_NAME,PAY_AGENT_NETWORK
0,2018-05-11,ANY104416,APH187972,WU,None,4340208340,617.0,Staged RMT US to US,UNITED STATES OF AMERICA,UNITED STATES OF AMERICA,...,None,None,None,WU FSI BOOKS,2018-05-12,876763000,3.993087e+09,2018-05-13,SHOPRITE OF HAVERFORD AVE #421,SHOP RITE
1,2018-05-11,VDA428366,VMX015396,VG,None,9732721612,702.0,Vigo MT US to Mexico,UNITED STATES OF AMERICA,MEXICO,...,None,None,MXV01,WU FSI BOOKS,2018-05-12,211A08469,3.992589e+09,2018-05-13,ELEKTRA 1508,
2,2018-05-11,VLA547897,VMX750756,VG,None,9733108067,702.0,Vigo MT US to Mexico,UNITED STATES OF AMERICA,MEXICO,...,None,None,MXVF9,WU FSI BOOKS,2018-05-12,379B35441,3.992592e+09,2018-05-13,BANCOPPEL 352 DIAZ ORDAZ,
3,2018-05-11,AJW830014,ADJ125389,WU,None,5263919906,947.0,Web MT Intl to Intl WUPAY,ITALY,SENEGAL,...,None,None,None,WU International Ltd,2018-05-12,758895652,3.993190e+09,2018-05-13,ETS SERIGNE MABAGNI NDIAYE,
4,2018-05-11,AJM002984,AE9000472,WU,None,5142188240,0.0,Debit Interchange INTL to INTL,JAMAICA,CUBA,...,None,None,None,WU International Ltd,2018-05-12,011D74421,3.993177e+09,2018-05-13,CIMEX,

In [5]:
conn.close()